<template>
  <div>
    <b-container id="article_container">
      <b-row class="justify-content-center">
        <b-col
          class="article_card"
          cols="12"
          order="12"
          md="6"
          lg="4"
          xl="3"
          @click="openArticle(article)"
          v-for="article in articles"
          :key="`article-${article.title}`"
        >
          <h2 class="title">{{ article.title }}</h2>
          <p class="description">
            {{ article.description }}
          </p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import { Article } from "@/models";

export default Vue.extend({
  data() {
    return {
      articles: [] as Article[]
    };
  },
  methods: {
    openArticle(article: Article) {
      this.$router.push({ name: "article", params: { id: article.link } });
    }
  },
  async mounted() {
    try {
      this.articles = await Article.index();
    } catch (e) {
      console.log(e);
    }
  }
});
</script>

<style lang="scss">
#article_container {
  margin-top: -15px;

  .article_card {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 0.5);
    box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 0.5);

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 1);
      -moz-box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 1);
      box-shadow: 5px 5px 10px 0px rgba(143, 143, 143, 1);
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }

    .title {
      margin-bottom: 20px !important;
      max-height: 110px;
      overflow: hidden;
    }

    .description {
      height: 140px;
      overflow: hidden;
    }
  }
}
</style>
