<template>
  <b-container id="article_content">
    <b-row>
      <b-col>
        <h1 id="article_title">{{ article.title }}</h1>
        <div v-html="article.body">
          {{ article.body }}
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import { Article } from "@/models";

export default Vue.extend({
  data() {
    return {
      article: {} as Article
    };
  },
  async mounted() {
    try {
      this.article = await Article.find(this.$route.params.id);
    } catch (e) {
      console.log(e);
    }
  }
});
</script>

<style lang="scss">
#article_content {
  padding: 15px;
  margin-bottom: 30px;
  text-align: left;

  #article_title {
    margin-top: -35px;
    padding: 20px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  figure {
    text-align: center;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    display: inline-grid;
  }
}
</style>
