<template>
  <img
    v-if="YOffset > 0"
    v-on:click="scrollToTop"
    src="../assets/arrow_up.png"
    id="scroll_up"
  />
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

var ScrollUp = Vue.extend({
  data: function() {
    return {
      YOffset: 0
    };
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
      this.YOffset = 0;
    }
  },
  created: function() {
    var app = this;
    window.addEventListener("scroll", function(e) {
      app.YOffset = window.pageYOffset;
    });
  }
});

Vue.component("scroll-up", ScrollUp);
export default ScrollUp;
</script>

<style lang="scss">
#scroll_up {
  position: fixed;
  display: block;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
</style>
