<template>
  <div id="app">
    <div id="nav">
      <router-link to="/"><img src="./assets/logo.png"/></router-link>
    </div>
    <div id="content_wrapper">
      <router-view />
    </div>
    <scroll-up></scroll-up>
  </div>
</template>

<script lang="ts">
import { ScrollUp } from "./components/index";

export default {
  name: "ArticleFrontend",
  components: {
    ScrollUp
  }
};
</script>

<style lang="scss">
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    #content_wrapper {
      margin-top: 113px;
    }

    #nav {
      position: fixed;
      padding: 15px;
      border-bottom: 1px solid #42b983;
      width: 100%;
      height: 83px;
      top: 0px;
      z-index: 1;
      background-color: white;

      a {
        display: block;
        margin: auto;
        padding: 0;
        height: 52px;

        img {
          width: max-content;
          height: 52px;
        }
      }
    }
  }
}
</style>
